
*{
  padding: 0;
  margin: 0;
  
}
a{
  text-decoration: none;
  color:black
}
.mynav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 10px;
}
ul{
  display: flex;
}
ul li{
  list-style: none;
  padding:0 13px;
  font-size: 25px;
}
ul>li>a:hover{
  color: blue;
}
.mymain{
  min-height: 90vh;
  padding: 2px;
}
.myfooter{
  background-color: antiquewhite;
  color: black;
  display: flex;
  padding: 12px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  position: sticky;
}
.mycontainer{
  background-color: azure;
  max-width: 80vw;
  margin: auto;
  padding: 15px;
}
.mycontainer h1{
  padding: 12px;
}
.btn{
  background-color: rgb(3, 50, 239);
  color: white;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form input{
  padding: 6px;
  width: 33vw;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  body{
    background-color: lightblue;
  }
  .mycontainer{
    font-size: 12px;

  }
  .mynav{
    flex-direction: column;
  }
  
}
.mydetails{
  list-style: square;
  display: block;
}
.active{
  background-color: white;
  text-decoration: underline;
  border-radius: 5px;
}